<header>
    <div class="container cabecalho">
        <a href="index.html"><img class="logo" src="/assets/img/logo.png" alt="Logo do site Digital Games"></a>        
        <nav id="menu" class="menu">
            <a href="#" target="_blank">Inicio</a>
           
            <a routerLink="/login" target="_blank">Login</a>
            <a href="#" target="_blank">Campeonatos</a>
            <a href="#" target="_blank">Resultados</a>
            <a href="#" target="_blank">Notícias</a>            
        </nav> 
        <!-- <a href="#" id="barras"><img class="icone-menu" src="img/bars.svg" alt="Ícone do menu de barras"></a> -->
        <a href="#" id="barras" onclick="mostrarMenu()"><img class="icone-menu" src="/assets/img/bars.svg" alt="Ícone do menu de barras"></a>
    </div>        
</header>